@import "./base/reset";
@import "./base/fonts";
@import "./base/variables";
@import "./base/mixins";

body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}
.zone1{
    margin: 0 auto;
    max-width:100%;
    border: 1px solid $border;
    height: 71px;
}
.calendar-container{
    @include layout-vertical();
    margin: 0 auto;
    max-width: 1840px;
    height: 1204px;
}
.nav-top{
    @include layout-horizontal();
    @include layout-center();
    height: 71px;
    width: 100%;
    &__header{
        font-weight: bold;
        margin-left: 25px;
    }
    &__search{
        position: relative;
        margin-left: 60px;
        & input{
            border: none;
            text-indent: 30px;
            line-height: 10px;
            &::placeholder{
                color: $search;
            }
        }
        .icon-search{
            position: absolute;
            color:$search;
            top: 1px;
            left: 7px;
            line-height: 11px;
        }
    }
    &__profile{
        @include layout-horizontal();
        @include layout-center();
        margin-left: auto;
        margin-right: 15px;
        [class^="icon-"]:before{
            color: $grey;
        }
        .icon-dot-3{
            margin-left: 17px;
        }
        #name{
            margin-left: 14px;
        }
        img{
            @include responsive;
            width: 40px;
            border-radius: 9px;
            margin-left: 46px;
        }
    }
}
.zone2{
    margin: 0 auto;
    max-width:100%;
    border: 1px solid $border;
    height: 77px;
}
.nav-bottom{
    @include layout-horizontal();
    @include layout-center();
    height: 77px;
    [class^="icon-"]::before{
       margin-right: 13px;
       font-size: 21px; 
    }
    .icon-chart-pie::before{
        transform: rotate(90deg);
    }
    p{
        margin-left:55px;
        color:$grey;
    }
    p:nth-child(1){
        margin-left:24px;
    }
    p:nth-child(5){
        margin-left:50px;
        color: $blue;
    }
    p:last-child{
        margin-left:auto;
        margin-right:18px;
        span{
            background-color:$light-blue;
            color: $blue;
            padding: 13px 16px;
            border-radius: 24px;
            margin-left: 13px;
        }
    }
}
.zone3{
    margin: 0 auto;
    max-width:100%;
    background-color:$calendar;
}
.calendar-bar{
   @include layout-horizontal();
   @include layout-center();
    margin-top: 50px;
    margin-bottom: 35px;
    h2{
        font-size:27px;
        margin-left: 35px;
    }
    p{
        margin-left: 18px;
        color:$grey;
    }
    &__add{
        margin-left: auto;
        background-color: $blue;
        color: #fff;
        padding: 15px 23px;
        border-radius: 24px;
        align-self: center;
    }
    &__dots{
        align-self: center;
        color: $grey;
        background-color: #fff;
        padding: 15px 19px;
        border-radius: 24px;
        margin-left:11px;
        margin-right: 30px;
    }
    &__search{
        margin-left: 27px;
        position: relative;
        & input{
           
            border: none;
            border-radius: 24px;
            padding: 17px 27px;
            width:187px;
            &::placeholder{
                color: $search;
            }
        }
        .icon-search{
            position: absolute;
            color:$search;
            line-height: 11px;
            top:17px;
            right: 25px;
        }
    }
    &__select{
        @include layout();
        margin-left: 27px;
        &__options{
            position: relative;
        }
        #selections{
           position: absolute;
           top:38px;
           width: 157px;
           height: 105px;
           background-color: #fff;
           border-radius: 3px;
           padding: 28px 34px;
           right: -13px;
           li:nth-child(1){
               margin-bottom: 25px;
           }
           .icon-dot::before{
               color:$light-green;
               font-size: 10;
           }
          display: none;
        }  
        &__options:hover  #selections{
            display: block;
        } 
    }     
}
.calendar-presenter{
  @include layout-horizontal();
  margin-bottom: 38px;
    &__days{
        @include layout-vertical();
        width: 81.8%;
        height: 893px;
        background-color:$white;
        border-right: 1px solid $border;
        .calendar-header{
            @include layout-horizontal();
            @include layout-center();
            margin-top: 33px;
            margin-bottom: 34px;
            &__month{
                margin-left: 631px;
                font-size: 23px;
                font-weight: bold;
            }
            
            &__days{
                position: relative;
                @include layout();
                @include self-center();
                width:141px;
                padding: 15px 21px;
                background-color:$light-blue;
                margin-right: 46px;
                border-radius: 24px;
                margin-left: auto;
                p{
                    margin-right: 22px;
                }
                
            }
            #left.icon-angle-right::before{
                transform: rotate(180deg);
                position: absolute;
                margin-left: auto;
                width:8px;
                height: 11px;
                top:21px;
            }
            #right.icon-angle-right::before{
                position: absolute;
                width:8px;
                height: 11px;
                top:15px;
                right:21px;
            }    
        }
        .calendar-plan{
            @include layout();
            width:100%;
            &__timeline{
               width:108px;
               li{
                   @include layout();
                   @include layout-center();
                   font-size: 10px;
                   padding-right: 17px;
                   padding-left: 51px;
                   height: 61px;
                   color: $grey;
               }
               li:first-child{
                   margin-top: 69px;
               }
            }
            &__event-container{
                display: flex;
                width:89.8%
            }
            &__events{
                width: 192px;
                height:69px;
                border: 1px solid $border;
                background-color: $calendar;
                vertical-align: middle;
                span{
                    font-size: 12px;
                }
                i{
                    font-size: 17px;
                    font-weight: bold;
                }
            }
            &__event{
                border:1px solid $border;
                max-height: 61px;
                height: 61px;
                p{
                    color:$white;
                }
                span{
                    font-size:12px;
                }
               
            }
            #event-1{
                @include event-layout();
                background-color: $light-purple; 
                span{
                    color: #e9cfff;
                }       
            }
            #event-2{
                @include event-layout();
                background-color: $dark-grey;
                span{
                    color:#bec4c9;
                }
            }
            #event-3{
                @include event-layout();
                background-color: $light-pink;
                span{
                    color: #ffd4e3;
                }
            }
            #event-4{
                @include event-layout();
                background-color: $light-orange;
                span{
                    color: #ffe8c6;
                }
            }
            #event-5{
                @include event-layout();
                vertical-align: top;
                background-color: $fluo-green;
                span{
                    color: #c1f3e5;
                }
            }
            #event-6{
                @include event-layout();
                background-color: $water-blue;
                span{
                    color: #d2e6ff;
                }
            }
            #event-7{
                @include event-layout();
                background-color: $light-orange;
                span{
                    color: #ffe8c6;
                }
            }
            #event-8{
                @include event-layout();
                background-color: $light-purple;    
                span{
                    color: #e9cfff;
                }    
            }
            #event-9{
                @include event-layout();
                background-color: $coral-green;  
                span{
                    color: #bde4e8;
                }      
            }
            #event-10{
                @include event-layout();
                background-color: $fluo-blue;
                span{
                    color: #c2e6f6;
                }        
            }

        } 
    }
    &__side{
        @include layout-vertical();
        width: 18.2%;
        background-color: $light-grey;
        padding: 43px 13px;
        table{
            margin-top: 20px;
            height: 309px;
            border-bottom: 1px solid $border;
        }
        &__null{
            color: $grey;
        }
        &__weeks th,tr{
            text-align: center;
            vertical-align: middle;
            color: $grey;
            font-size: 10px; 
        }
        table thead th{
            width: 2em;
            height:39px;
        }
        
        table tbody td{
            height: 2.7em;
        }
        
        td a{
            text-decoration: none;
            font-size: 12px;
        }
        
        tbody a{
            height: 100%;
            display:flex;
            align-items: center;
            justify-content: center;
            color: black;
          
        }
        tr:last-child{
            margin-bottom:49px;
        }
        
        tbody a:hover{
            background: $blue;
            border-radius: 50%;
            color: white;
        }
        .selected{
            background: $blue;
            border-radius: 50%;
        }
        
        .selected a{
            color: white;
        }
    }
    
}