@mixin responsive {
  display: block;
  height: auto;
  width: 100%;
}

@mixin layout() {
  display: flex;
}

@mixin layout-inline() {
  display: inline-flex;
}

@mixin layout-horizontal() {
  @include layout();
  flex-direction: row;
}

@mixin layout-horizontal-reverse() {
  @include layout();
  flex-direction: row-reverse;
}

@mixin layout-vertical() {
  @include layout();
  flex-direction: column;
}

@mixin layout-vertical-reverse() {
  @include layout();
  flex-direction: column-reverse;
}

@mixin layout-wrap() {
  flex-wrap: wrap;
}

@mixin layout-wrap-reverse() {
  flex-wrap: wrap-reverse;
}

@mixin flex-auto() {
  flex: 1 1 auto;
}

@mixin flex-none() {
  flex: none;
}

@mixin flex() {
  flex: 1;
  min-height: 0;
  min-width: 0;
}

@mixin flex-1() {
  @include flex();
}

@mixin flex-2() {
  flex: 2;
}

@mixin flex-3() {
  flex: 3;
}

@mixin flex-4() {
  flex: 4;
}

@mixin flex-5() {
  flex: 5;
}

@mixin flex-6() {
  flex: 6;
}

@mixin flex-7() {
  flex: 7;
}

@mixin flex-8() {
  flex: 8;
}

@mixin flex-9() {
  flex: 9;
}

@mixin flex-10() {
  flex: 10;
}

@mixin flex-11() {
  flex: 11;
}

@mixin flex-12() {
  flex: 12;
}

@mixin layout-start() {
  align-items: flex-start;
}

@mixin layout-center() {
  align-items: center;
}

@mixin layout-center-center() {
  @include layout-center();
  @include layout-center-justified();
}

@mixin layout-end() {
  align-items: flex-end;
}

@mixin layout-start-justified() {
  justify-content: flex-start;
}

@mixin layout-center-justified() {
  justify-content: center;
}

@mixin layout-end-justified() {
  justify-content: flex-end;
}

@mixin layout-around-justified() {
  justify-content: space-around;
}

@mixin layout-justified() {
  justify-content: space-between;
}

@mixin self-start() {
  align-self: flex-start;
}

@mixin self-center() {
  align-self: center;
}

@mixin self-end() {
  align-self: flex-end;
}

@mixin self-stretch() {
  align-self: stretch;
}

@mixin relative() {
  position: relative;
}

@mixin fit() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin event-layout() {
  border-radius: 4px;
  font-size: 16px;
  padding: 13px 15px;
  vertical-align: middle;
  z-index: 1;
  height: 100%;
  @include desktop {
    font-size: 12px;
  }
  span {
    font-size: 10px;
  }
}

@mixin event-time-layout() {
  color: transparent $white;
  font-size: 12px;
}
@mixin today-event {
  margin-bottom: 34px;
  p {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
  }
  span {
    font-size: 10px;
    color: $today-event-span;
  }
  .icon-dot {
    font-size: 13px;
  }
  img {
    @include responsive();
    height: 31px;
    width: 31px;
    display: inline-flex;
    border-radius: 15px;
    border: 1px solid $white;
  }
  img:nth-child(3) {
    position: absolute;
    left: 45px;
  }
  img:nth-child(2) {
    position: absolute;
    left: 22px;
  }
  &__image-holder {
    display: flex;
    position: relative;
    margin-top: 14px;
    span {
      margin-left: 50px;
      align-self: center;
    }
  }
}

@mixin events($event-start, $event-end) {
  //Get the starting hour
  $startingHour: $event-start;

  //Get the duration
  $duration: $event-end - $event-start;
  $duration: ceil($duration / 60); //We want minutes

  //Get the multiplier for the height
  $height: ($duration / 15) * 15; //15 pixels per 15 minutes

  //Get the offset from the top, depending on the starting hour
  $topOffset: $startingHour * 60;

  height: $height + "px";
  top: $topOffset + "px";

  // $style: 'style="height: ' + $height + "px; top: " + $topOffset + 'px;"';
}

$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-width-lg: 1280px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width:#{$desktop-width-lg - 1px}) {
    @content;
  }
}

@mixin desktop-lg {
  @media (min-width: #{$desktop-width-lg}) {
    @content;
  }
}
