// COLORS
$border: #e8e8e8;
$calendar:#f5f6f6;
$search: #becdd9;
$grey:#919bb0;
$blue: #1890ff;
$light-blue: #f2f8ff;
$light-green: #27b917;
$white:#fff;
$light-grey: #f8fafc;
$light-purple: #c582ff;
$light-pink:#ff71a1;
$dark-grey:#576574;
$light-orange:#ffb142;
$water-blue: #68abff;
$fluo-green:#30d6a9;
$fluo-blue: #34ace0;
$coral-green:#22a6b3;
$light-white:#eedaff;
$event-white: #f8f0ff;
$inactive-day:#becdd9;
$today-event-span:#5c6881;
$running-color: #f5bb34;



//FONT MAPPINGS
//$primary-font: "Charmonman", cursive;
